
body{
    background-color: #6d6d6d;
}
main{
    width: 70%;
    margin: 50px auto;
}
.item-wrapper{
    background-color: brown;
    width: 100%;
    height: 100px;
    margin: 5px auto;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}
.item-content{
    width: 80%;
    margin: 0 0 0 5%;
    font-size: 30pt;
}
.very-high-confidance{
    background-color: darkgreen;
}
.high-confidence{
    background-color: #0c0c94;
}
.medium-confidence{
    background-color: #b8b805;
}
.low-confidence{
    background-color: #b9561c;
}
.very-low-confidence{
    background-color: red;
}