/* A stylesheet for reseting the default values on the webpage */
body{
  margin: 0;
  padding: 0;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  overflow-x: hidden;  
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

  /* Remove list styles (bullets/numbers) */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}